
.dashboard{
    background-color: whitesmoke;
    width: "80vw"
}
.dashboard-top{
    display: flex;
    flex-wrap: wrap;
    margin: 1% 6%;
  
}
.dashboard-top-left{
    flex: 40;
}
.dashboard-top-right{
    flex:60;
    display: flex;
    flex-wrap: wrap;
}
.dashboard-bottom{
    display: flex;
    flex-wrap: wrap;
    margin: 1% 6%;
  
}
.dashboard-bottom-left{
    flex: 30;
}
.dashboard-bottom-right{
    flex:70;
    display: flex;
    flex-wrap: wrap;
}
.users-list-title{
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
}
.users-list-table{
    padding-top: 4%;

}
.users-add-title{
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    width: 79vw;
    margin-left: 3%;
}
.news-list-title{
    padding-top: 5%;
    display: flex;
    justify-content: space-between;

}
.news-list-table{
    padding-top: 4%;
}