.footer{
    background-color: black;
    color: white;
    margin-bottom: 0% !important;
}
.footer-body{
display: flex;
flex-wrap: wrap;
padding: 4% 10%;
}
.footer-body-1,.footer-body-2,.footer-body-3{
    flex: 30;
    padding: 2%;
}
.footer-body-2{
    padding-left: 10%;
}
.footer-bottom > h3{
    text-align: center;
}
.footer-bottom{
    border-top: solid 1px white;
    padding-bottom: 2%;

}