.news-detail{
    display: flex;
    padding-top: 1%;
    margin: 3% 10%;
    flex-wrap: wrap ;
    padding-bottom: 10%;
}
.news-detail-left{
    flex: 60;

}
.news-detail-right{
  
    flex:40;
    display: flex;
}
.news-detail-right-first{
   flex: 20;
}

.news-detail-right-second{
    flex: 80;
    padding-top: 20%;
 }
 .news-home-tab-disc{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


@media (max-width: 900px){
    .news-detail-left{
        flex: 100 !important;
        width: 100%;
    }
    .news-detail-right{
        flex: 100 !important;
    }
    .news-detail-right-first{
        flex: 0;
    }
    .news-detail{
        margin-top: 10%;
    }
    .news-detail{
        margin: 2% 3%;
    }
    /* .news-detail-right{
        flex: 0;
    } */


}
    


